/* Conteneur principal centré */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Taille normale du logo sur écran large */
.logo {
  width: 400px;
  height: auto;
}

/* Conteneur des boutons */
.buttons-container {
  display: flex;
  gap: 80px; /* Espacement horizontal entre boutons */
}

.same-width-btn {
  width: 200px;
}

/* Boutons en colonne sur petit écran */
@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
    gap: 10px; /* Réduire l’espacement sur mobile */
  }
  .logo {
    width: 120px;
  }

}
