<app-user-form   [isEditMode]="isEditMode" [headTitle]="headTitle" [labelSubmit]="labelSubmit"
               (submit)="handleFormSubmit($event)" [currentUser]="currentUser"
               [backendFieldErrors]="errorHandlingService.fieldErrors" [context]="'profil'"></app-user-form>
<hr class="separator">
<h1>Abonnements</h1>
<div class="subscribed-topics-section">
  <app-topic-list
    [topics]="topics"
    [showSubscribeButton]="false"
    [showUnsubscribeButton]="true"
    [filterSubscribed]="true">
  </app-topic-list>
</div>
