# Exemples de var d'env nécessaires (valeurs fictives, les obtenir via un canal sécurisé)
# En production, utiliser au minimum des variables d'environnement ou un gestionnaire de secrets

# Exemples de variables d'environnement nécessaires pour l'application
# Ces valeurs sont fictives et doivent être modifiées via un canal sécurisé avant le déploiement.

# Configuration de la base de données
# Exemple : `postgresql://postgres-r2dbc:5432` avec le nom du service docker
P6_DB_URL=postgresql://localhost:5432
# Nom d'utilisateur pour la base de données
P6_DB_USER=mdduser
# Mot de passe pour la base de données
P6_DB_PASSWORD=mddpw

# URL du frontend (important pour le paramétrage des CORS)
P6_FRONTEND_URL=http://localhost:4200

# Clé secrète pour signer les tokens JWT.
# - Cette clé doit obligatoirement être encodée en Base64.
# - Elle doit avoir une longueur minimale de 32 caractères avant encodage (256 bits).
# - Exemple de génération : `openssl rand -base64 32`
# - Vous pouvez aussi utiliser la classe utilitaire SecretKeyGenerator présente dans le backends
# - ATTENTION : Cette clé NE DOIT PAS être committée en production.
P6_JWT_SECRET_KEY=vfUI9b82X2CaSN9clY9o2ijcwkgtoWpbjvyD96iRYUU=

# Durée d'expiration des tokens JWT (en secondes).
# Par exemple : 86400 pour une durée de 1 jour.
P6_JWT_EXPIRATION_TIME=86400

P6_DOCKER_PATH_VOLUME=C:\DockerVolumes\p6mdd-dev\postgres_data
