HELP.md
target/
logs/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### MAC ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


# Environment variables
.env
.env.*
!.env.example

# Maven version backups
pom.xml.versionsBackup
*.versionsBackup
