.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-back-arrow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  position: relative;
}
.register-form-container {
  width: 40%; /* Largeur spécifique pour le formulaire */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espacement entre les éléments */
  align-items: center;
}

.form-field {
  width: 100%;
}
.back-arrow {
  position: absolute;
  left: 0;
}
h2 {
  margin: 0 auto;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.submit-button {
  width: 139px;
  height: 40px;
}
