<div class="container" [ngClass]="{'register-context': context === 'register'}">
  <div class="content">
    <div class="header-container">
      <app-back class="back-button"></app-back>
      <h1>{{ headTitle }}</h1>
      <div class="spacer"></div> <!-- Élément invisible pour équilibrer le titre -->
    </div>

    <div class="user-form-container">
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email"/>
            <mat-hint align="start" *ngIf="context === 'profil' && this.isEditModeValue()">
              Si email modifié, vous devrez vous reconnecter
            </mat-hint>
            <mat-error *ngIf="form.get('email')?.hasError('required')">email requis</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">adresse email invalide</mat-error>
            <!-- mat-error *ngIf="form.get('email')?.hasError('backend')">
              {{ form.get('email')?.getError('backend') }}
            </mat-error -->
            <app-field-error-backend *ngIf="hasFieldError('email')" [error]="getFieldError('email')"/>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput formControlName="username"/>
            <mat-error *ngIf="form.get('username')?.hasError('required')">
              nom d'utilisateur requis
            </mat-error>
            <mat-error *ngIf="form.get('username')?.hasError('minlength')">
              au moins 2 caractères
            </mat-error>
            <app-field-error-backend *ngIf="hasFieldError('username')" [error]="getFieldError('username')"/>
          </mat-form-field>
        </div>

        <div class="form-field-container">
          <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password"/>
            <!-- mat-error *ngIf="form.get('password')?.hasError('backend')">
              {{ form.get('password')?.getError('backend') }}
            </mat-error -->
            <app-field-error-backend *ngIf="hasFieldError('password')" [error]="getFieldError('password')"/>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              mot de passe requis
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minLength')">
              au moins 8 caractères
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('uppercase')">
              au moins une majuscule
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('lowercase')">
              au moins une minuscule
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('number')">
              au moins un chiffre
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('specialCharacter')">
              au moins un car. spécial
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-button">
            {{ submitButtonLabel() }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
