<div class="container">
  <div class="content">
    <div class="container-back-arrow">
      <app-back></app-back>
    </div>

    <div class="user-form-container">
      <h2>{{ headTitle }}</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" [readonly]="!isEditMode"/>
            <mat-error *ngIf="form.get('email')?.hasError('required')">email requis</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">adresse email invalide</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('backend')">
              {{ backendFieldErrors['email'] }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput formControlName="username" [readonly]="!isEditMode"/>
            <mat-error *ngIf="form.get('username')?.hasError('required')">
              nom d'utilisateur requis
            </mat-error>
            <mat-error *ngIf="form.get('username')?.hasError('backend')">
              {{ backendFieldErrors['username'] }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-field-container">
          <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password" [readonly]="!isEditMode"/>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              mot de passe requis
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minLength')">
              au moins 8 caractères
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('uppercase')">
              au moins une majuscule
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('lowercase')">
              au moins une minuscule
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('number')">
              au moins un chiffre
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('specialCharacter')">
              au moins un car. spécial
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-button">
            {{ isEditMode ? (labelSubmit || 'Enregistrer') : 'Modifier' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
