.post-create-container {
  padding: 16px;
}

.post-create-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 50%;
  }

  @media (max-width: 599px) {
    width: 90%;
   }
}

.create-button {
  margin-top: 16px;
  align-self: center;
}

::ng-deep .resizable-textarea {
  resize: both !important;
  overflow: auto !important;
}
