<div class="container">
  <div class="content">
    <div class="container-back-arrow">
      <app-back></app-back>
    </div>

    <div class="user-form-container">
      <h2>Se connecter</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email ou nom</mat-label>
          <input matInput formControlName="identifier"/>
          <mat-error *ngIf="form.get('identifier')?.hasError('required')">
            Votre identifiant est requis
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" type="password"/>
          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Votre mot de passe est requis
          </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="submit-button"
                  (click)="onSubmit()">
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
