.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;

  h1 {
    flex: 1;
    text-align: center;
    font-weight: bold;
    margin: 0;
  }

  .back-button {
    width: 48px; // Largeur fixe pour équilibrer avec le spacer
  }

  // invisible ; même taille que back pour équilibrer centrage titre
  .spacer {
    width: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 60px; // Espace pour le bouton back fixe
  }

  // Styles pour bouton back en position fixe
  .header-container {
    .back-button {
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 1000; // S'assurer qu'il est au-dessus de tout
      margin-left: 0; // Réinitialiser la marge
    }
  }

  .content {
    .header-container {
      flex-direction: column;
      align-items: center; // Centrer les éléments
      gap: 16px;

      h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        font-weight: bold;
      }

      .spacer {
        display: none;
      }
    }
  }
}

.user-form-container {
  width: 80%; /* Largeur spécifique pour le formulaire */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.back-arrow {
  position: absolute;
  left: 0;
}

/* Conteneur global des champs */
.form-field-container {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 1.5rem; /* Ajouter une marge entre les champ et éviter chevauchement */
}

.error-messages {
  min-height: 1.2rem; /* Réserve de l'espace pour les messages, même lorsqu'une seule erreur s'affiche */
  display: block;
  flex-direction: column; /* Organisation verticale des erreurs */
  justify-content: flex-start;
}

.mat-mdc-form-field-error-wrapper {
  position: relative; //le absolute d'origine pose pb (chevauchement erreurs sur bouton)
  overflow: visible;
  width: 100%;
}

mat-error {
  font-size: 0.80rem; /* Taille adaptée pour les messages d'erreur */
  display: flex;
  height: 14px; /* hauteur fixe pour éviter pb avec bouton (bug de .mat-mdc-form-field-error-wrapper) */
  margin: 1px 0 0 0; /* Distance des messages d'erreur au champ */
  color: #d32f2f;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  position: relative; /* S'assure qu'il reste en flow avec le contenu */
}

.submit-button {
  width: 150px;
  height: 40px;
}
